.waves {
  background-color: orange;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  overflow: hidden;
}

.move {
  background-color: red;
  width: 80px;
  height: 2px;

  transform: translateY(15rem) translateX(60px);
  transform-origin: center;
  animation: rotate 800ms infinite linear;
}

.move2 {
  background-color: #fff;
  width: 20px;
  height: 20px;
  margin-left: 120px;
  margin-top: 30px;
  animation: rotate 900ms infinite linear;
}

.move3 {
  background-color: #fff;
  width: 20px;
  height: 20px;
  margin-left: 170px;
  margin-top: 70px;
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  form {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
